body{
  background-color: orange;

}
p:last-child {
    text-align: right;
    margin-right: 50px;
    font-size: 30px;
    visibility: hidden;
}
h1 {
  color: red;
  font-size: 80px;
  text-align: center;

}
table {

  margin: auto;
  margin-bottom: 10px;
  width: 30%;
  height: 40%;
  font-family: 'Finger Paint', cursive;
  border: none;
  border-collapse: collapse;

  text-align: center;
  font-size: 400%;
}
table td {

  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 10%;

}
table td{
  width: 100px;
  height: 100px;

}
table td:first-child {
  border-left: none;

}

table td:last-child {
  border-right: none;
}
table tr:first-child{
  border-bottom: 1px solid black;

}
table tr:last-child{
  border-top: 1px solid black;
 }
