 
div#rambo{

    position: fixed;
    top: 200px;
    border-style: solid;
    border-width: 3px;

}
div#enemy{

    position: fixed;
    top: 0px;
    left: 30px;
    border-style: solid;
    border-width: 3px;

}
div#rambo_bullet{

    position: fixed;
    style: solid;
    top: -220px;
    border-width: 3px;

}
div#enemy_bullet{

    position: fixed;
    style: solid;
    top: -220px;
    border-width: 3px;

}
